:root {
  --main-color: #22223b;
  --text-color: #f2e9e4;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, sans-serif;
}
#body-container {
  /* padding-top: 30px; */
}
body {
  background-image: linear-gradient(white, ivory);
}
/* Header */
#header-list {
  list-style-type: none;
}
#head-row {
  border-bottom: #333333 solid 1px;
  background-color: var(--main-color);
}
.nav-item {
  color: var(--text-color);
}

/* About Me Header */
#about-me-header {
  border-bottom: #333333 solid 1px;
}
a {
  text-decoration: none;
  color: black;
}
.general-padding {
  padding: 30px;
}

.general-padding-sm {
  padding: 15px;
}
.card-margin {
  margin-top: 15px; /*Hard Coded!*/
}
.card {
  transition: 0.5s;
}
.card:hover {
  background-color: #f1f0f0;
  color: #111111;
}

@media (min-width: 768px) {
}
#jumbotron {
  background-image: url("../img/jumbotron-img.jpg");
  padding-top: 500px;
  padding-bottom: 500px;
  background-size: cover;
}
#jumbotron-text {
  color: var(--text-color);
  font-size: xx-large;
}
/* Footer */
#footer-row {
  background-color: var(--main-color);
  /* margin-top: 30px; HARD CODED */
}

.main-text {
  color: var(--text-color);
}
