.intro-text {
    margin:auto;
    color: #291F1E;
    text-shadow: 2px, 2px, ;
    line-height: 1;

}

.bold-text{
    font-weight: 800;
}

.about-me {
    padding-left:12%!important;
    padding-right:12%!important;
    
}

.bottom-border{
    border-bottom: 1px dashed #000000;
}